.work {
    padding: 70px 0px;
    background: rgb(13, 39, 73);
    color: white;
    text-align: center;
}

.work .work-info {
    margin-bottom: 80px;
}

.work .work-info .work-title {
    font-size: 45px;
    color: rgb(255, 170, 0);
    font-family: cursive;
}

.work .work-info span {
    color: darkorange;
}

.work .part {
    padding: 50px 10px;
    border: 2px solid rgb(255, 170, 0);
    margin-bottom: 40px;
    border-radius: 5px;
}

.work .part .icon {
    font-size: 50px;
    color: rgb(13, 39, 73);
    background: darkorange;
    margin-bottom: 20px;
    border: 2px solid darkorange;
    padding: 20px;
    border-radius: 10px;
    transition: 0.3s;
}

.work .part .icon:hover {
    background: rgb(13, 39, 73);
    color: darkorange;
}

.work .part .part-title {
    font-size: 27px;
    margin-bottom: 20px;
}

.work .part .line {
    color: darkorange;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}

.work .part .part-desc {
    font-size: 18px;
    opacity: 0.7;
    padding: 0px 15px;
}

@media (min-width: 576px) and (max-width: 991px) {
    .work .part .part-desc {
        padding: 0px 25px;
    }
}

@media (min-width: 991px) {
    .colom {
        display: flex;
    }
    .work .part {
        width: 33%;
        margin: 0px 10px;
    }
}